*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../photo/green-background-1480062887P1D.jpg);
}

.login-div
{
    width: 430px;
    height: 700px;
    background-color: #cbcdcb;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px rgba(63, 84, 74, 0.504),
    -8px -8px 15px rgb(91, 118, 110);
}

.fields svg
{
    height: 22px;
}

.logo
{
    background: url("../photo/greenNikeIcon.jpg");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #32483949,
    0px 0px 5px #ecf0ec,
    8px 8px 15px #afaaaf,
    -8px -8px 15px #f8f8f8d6;
}

.title
{
    text-align: center;
    color: #126b46;
    font-size: 28px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px #afb3b1;
}

.fields
{
    width: 100%;
    padding: 75px 5px 5px 5px;

}

.fields input
{
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    padding: 20px 10px 20px 5px;
}

.username, .password 
{
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #abacae,
    inset -8px -8px 8px #e0dbdb;
}

.svg-icon
{
    height: 22px;
    margin: 0px 10px -4px 25px;
}


.login-button
{
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    background: #126b46;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    box-shadow: 5px 5px 8px #999999,
    -5px -5px 8px #fff4f4;
    transition: all 0.4s ease-in;
}

.login-button:hover
{
    background: #548c6a;
}

.link
{
    padding-top: 25px;
    text-align: center;
}

.link a
{
    text-decoration: none;
    color: rgb(91, 139, 116);
    font-size: 18px;
    transition: all 0.4s ease-in;
}

.link a:hover
{
    color: #5f5f5f;
}