*
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: black;
}

.logo img
{
    width: 50px;
    height:50px;
}

.navbar
{
    display: flex;
    align-items: center;
}

.navbar ul
{
    display: flex;
    list-style: none;
}

.navbar a
{
    color: #fff;
    padding: 12px;
    text-decoration: none;
}

.logo-name
{
    color: #fff;
    size: 2rem;
    font-weight: bold;
}

nav
{
    margin-right: 10px;
}

body
{
    background-color: rgb(232, 231, 181);
}

.main
{
    display: flex;
    margin: 1rem 3rem;
}

aside
{
    width: 25%;
    margin-right: 10px;
}

main
{
    width: 75%;
}

aside, main
{
    font-weight: bold;
    background-color: #fff;
    height: 600px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2rem;
}

.cards
{
    width: calc(100% - 6rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(225px, 1fr)); */
    grid-template-rows: auto;
    gap: 30px;
    padding: 30px 0;
}

.card
{
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
}

.card-image
{
    width: 100%;
    height: 250px;
    display: block;
}

.card-content
{
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding: 15px;
    background-color: #fafafa;
}

.hamburger-menu
{
    display: none;
}

@media (max-width: 768px)
{
    .hamburger-menu
    {
        display: block;
    }

    .navbar
    {
        display: none;
    }

    .hamburger-menu i
    {
        font-size: 1.5rem;
        margin: 5px 0;
        color: #fafafa;
    }

    .header
    {
        padding: 0 1rem;
    }

    .main
    {
        flex-direction: column-reverse;
        margin: 1rem;
    }

    aside
    {
        width: calc(100% - 4rem);
        margin-right: 0;
        height: 100px;
    }

    main
    {
        width: calc(100% - 4rem);
        height: 500px;
        margin-bottom: 20px;
    }

    .logo-name
    {
        font-size: 1.5rem;
    }

    .cards
    {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}

@media (min-width: 769px) and (max-width: 1200px)
{
    .cards
    {
        grid-template-columns: 1fr 1fr;
    }
    
}